{% extends 'base.html' %}
{% block title %}Перевод и рекомендации статей{% endblock %}
{% block content %}
<section class="u-align-center u-clearfix u-grey-5 u-section-1" id="sec-a68e">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-text u-text-default u-text-1">Переводи интересные статьи и получай рекомендации​!</h1>
        <p class="u-text u-text-2">Необходимо быстро перевести свежую статью с английского языка на русский? Или вам
            понравилась прочитанная статья и вы хотели бы почитать больше по данной тематике, но нет времени на поиск?
            Данный сервис может решить эти вопросы, просто добавьте текст в формате txt и выберите
            необходимое действие!</p>
    </div>
</section>
<section class="u-align-center u-clearfix u-section-1" id="sec-6b4d">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-default u-text-2">Добавьте файл в формате txt/pdf</h2>
        <form enctype='multipart/form-data' method='post'>
            <input name='uploaded_file' type='file'>
        <div style="display: flex; justify-content: center; margin-top: 20px; padding: 50px;">
          <button style="padding: 10px; margin: 10px" formaction="/translate" type="submit">Перевести</button>
            <button style="padding: 10px; margin: 10px" formaction="/get-recommendation" type="submit">Получить рекомендации</button>
        </div>
        </form>


    </div>
</section>
{% endblock %}
